# Ignore node_modules in trackWallet_backend
trackWallet_backend/node_modules/

# Ignore .env in trackWallet_backend
trackWallet_backend/.env

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Ignore build directories (if applicable)
trackWallet_backend/dist/
trackWallet_backend/build/
